<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <meta name="keywords" content="{{keywords}}"/>
    <meta name="robots" content="index, follow" />
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/static/images/vite.svg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script type="module" crossorigin src="/static/js/main-DqoIbHzK.js"></script>
    <link rel="modulepreload" crossorigin href="/static/js/header-Bsyh9cf7.js">
    <link rel="modulepreload" crossorigin href="/static/js/languageToggleBtn-CJhW3R8M.js">
    <link rel="modulepreload" crossorigin href="/static/js/aboutUs-Bzb3L6RJ.js">
    <link rel="stylesheet" crossorigin href="/static/styles/header-BfYZ9aHk.css">
    <link rel="stylesheet" crossorigin href="/static/styles/aboutUs-BAnimolJ.css">
    <link rel="stylesheet" crossorigin href="/static/styles/languageToggleBtn-Cq9ijXSs.css">
    <link rel="stylesheet" crossorigin href="/static/styles/main-DKubGrik.css">
  </head>
  <body>

{{{body}}}

  </body>
</html>