<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 - Page Not Found</title>
  <style>
    .content{
      width: 700px;
      margin: 0 auto;
      text-align: center;
    }

    a {
      color: orangered;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
    <!-- Header -->
    <header class="header">
      <div class="header__container"></div>
    </header>
  <div class="content">
      <h1>404 - Sorry!</h1>
      <h2>Filmen du letade efter kunde tyvärr inte hittas.</h2>
      <a href="/movies">Tillbaka till alla filmer</a>
  </div>
</body>
</html>