<a href="/movies">Tillbaka till alla filmer</a>
<h1>{{movie.attributes.title}}</h1>
<p>{{movie.attributes.intro}}</p>
<img src="{{movie.attributes.image.url}}" alt="{{movie.attributes.title}}" width="300px"/>
